@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.head{
  border: 1px solid rgba(212,218,216,255);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 2;
}
.bi-camera{
  font-size: 25px;
  cursor: pointer;
  border-style: inherit;
  color: rgb(200, 24, 244);
}
.camera h6{
  font-family: "Sansita Swashed", cursive;
  color: dodgerblue;
}
.card{
  border: 1px solid rgba(231,231,231,255);
  max-width: fit-content;
  margin: auto;
  margin-bottom: 1%;
  box-sizing: border-box;
  border-radius: 5px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;

}
.lsd{
  display: flex;
  align-items: center;
}
.lsd p{
  position: relative;
  left: 65%;
  color: rgba(106,106,106,255);
}
h5{
  margin: 0;
}
p{
  margin: 0;
  color: rgba(162,162,162,255);
}
.bi-heart{
  margin: 2px 10px;
}
.likes{
  margin: 0 10px;
}
.description{
  margin: 17px 10px;
}


.landing{
  display: flex;
  position: relative;
  top: 165px;
  justify-content: space-around;
}
.image img {
  object-fit: contain;
}

.enter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.enter button{
  width: 80px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.enter button:hover{
  box-shadow: 1px 1px 10px black;
}
.landingimg img{
  border-radius: 15px;
  box-shadow: 1px 1px 10px black;
}


.postbody{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.center {
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid rgb(188, 68, 16);
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
  font-family: "Sansita Swashed", cursive;
}
.center .inputbox {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center .inputbox [type="button"] {
  width: 45%;
  background: linear-gradient(45deg, purple, orange, red);
  color: #fff;
  border: #fff;
  border-radius: 4px;
  margin-top: -30px;
  cursor: pointer;
  font-size: small;
  transition: all 0.5s ease;
}
.center .inputbox:hover [type="button"] {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}
.input-file input[type="file" i]{
  color: #878787;
}
.input-file input[type="file" i]::-webkit-file-upload-button{
  background: linear-gradient(45deg, purple, orange, red);
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.input-file input[type="file" i]::-webkit-file-upload-button:hover{

background: #fff;
  border: 2px solid #535353;
  color: #000;
}
.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginationbtns {
  width: 80%;
  margin: auto;
  /* border: 1px solid black; */
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 23px;

}

.paginationbtns a {
  padding: 10px;
  margin: 8px;
  cursor: pointer;
  color: grey;
}

.paginationbtns a:hover {
  color: #2DA5FC;
  background-color: whitesmoke
}

.paginationactive a {
  color: #2DA5FC
}
@media screen and (max-width:768px) {
  .landing{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing img{
    width: 250px;
  }
  .card{
    margin: auto;
    margin-bottom: 7px;
  }
  .lsd p{
    margin-top: 10px;
    position: relative;
    left: 210px;
  }
  .image img{
    width: 350px;
  }
}